#all-movies {
  padding-left: 15px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.text-center {
  text-align: center;
}

#amer_beau {
  min-width: 100px;
  min-height: 150px;
  max-width: 100px;
  max-height: 150px;
  background: no-repeat center/100% url('amer_beau.jpg');
  border: 1px solid black;
}

.movie-info {
  width: 500px;
  padding-left: 10px;
}

.star-group {
  height: 50px;
  font-size: 28px;
  line-height: 50px;
}